.plintus-editor {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: #f5f5f5;
}

.plintus-editor-content {
    flex: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

.plintus-editor-canvas-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: none;
    margin: 0;
    border-radius: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.plintus-editor-canvas-wrapper canvas {
    box-shadow: none;
}

.canvas-editor {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

